/* App.css */
.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffd404, #ffb400, #ffa000, #ff8c00, #ff7800, #ff7800, #ff8c00, #ffa000, #ffb400, #ffd404);
  background-size: 800% 800%;
  animation: gradientAnimation 20s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LandingPage.css */
.landing-page img {
  max-width: 300px;
  max-height: 300px;
}

.landing-page h1 {
  font-size: 3rem;
  margin-top: 1rem;
  animation: fadeInUp 1s ease-in-out;
}

/* WhatWeDo.css */
.what-we-do {
  margin-top: 2rem;
}

.what-we-do h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease-in-out;
}

.album-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.album-card {
  max-width: 200px;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.album-card img {
  width: 100%;
  height: auto;
}

/* ContactUs.css */
/* ... */

